
.input {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    background-color: transparent;
    border: 2px solid gray;
    margin-bottom: 2rem;
    border-radius: 10px;
  }
  
  .input:focus-within {
    border: 2px solid #0c9;
  }
  
  .input > i {
    width: 15%;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
  }
  
  .input > input {
    width: 85%;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    font-family: "Sono";
    color: white;
  }
  
  input:focus {
    outline: none;
  }

  i {
    color: gray;
  }
  
  .error {
    border: 2px solid red !important;
  }