:host{
    display: block;
    position: absolute;
    right: 3rem;
    bottom: 5rem;
    transform: translateY(50%)
}
.speedometer{
    margin-left: 10rem;
    width: 25rem;
    height: 25rem;
    background-image: url('/assets/images/speedometer/speedometer.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    font-size: 1.2rem;
}

.needle-body{
    width: 100%;
    height: 1.2%;
    position: absolute;
    bottom: 49%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(185deg);
}

.needle{
    position: absolute;
    margin-left: 10%;
    z-index: 999;
    width: 11%;
    left: 0;
    height: 100%;
    background-color: darkred;
    border-radius: 2px;
}

.speed-body{
    width: 40%;
    height: 30%;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%)
}

.speed-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Rajdhani';
    padding: 1%;
}

.speed-kmh{
    display: inline;
    font-size: 0.7em;
    height: 30%;
}

.speed-main{
    display: inline;
    box-sizing: border-box;
    margin-top: 3%;
    font-size: 3.4rem;
    height: 40%;
}

.trip-body{
    font-family: "Red Hat Mono";
    background-color: rgba($color: #19233F, $alpha: 0.8);
    padding: 0rem 0.1rem;
    display: flex;
}

.trip-kilometers, .trip-meters{
    display: inline;
    line-height: 1rem;
    font-size: 0.9rem;
}

.trip-meters{
    color: red;
}

.petrol-body{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/images/speedometer/petrol-steps/0.png');
}