:host{
    display: block;
    position: absolute;
    font-size: 20px;
    right: 1em;
    bottom: 0.8em;
    width: 13em;
    transition: bottom 0.6s ease-in-out;
}

:host.show-controls{
    bottom: 2.5em;
}

:host.show-controls .controls-row {
    bottom: -45%;
}

.speed-icons-row {
    padding-left: 0.5em;
}

.speed{
    color: white;
    font-size: 4em;
    font-weight: lighter;
    height: 4rem;
    line-height: 4rem;
    font-family: 'Rajdhani';
}

.icon{
    width: 2em;
    height: 2em;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.suspension{
    background-image: url('/assets/images/speedometer/icons/suspension-damaged.png')
}

.engine{
    background-image: url('/assets/images/speedometer/icons/engine-damaged.png')
}

.petrol{
    background-image: url('/assets/images/speedometer/icons/gas.png');
    background-position-y: 100%;
}

.petrol-row{
    padding: 0 0.3em;
}

.petrol-bar{
    height: 0.5em;
    width: 100%;
}

.rpm-row{
    padding: 0 0.3em;
    margin-top: 0.1em;
}

.rpm-bar{
    height: 1em;
    width: 100%;
}

.controls-row{
    margin-top: 0.4em;
    gap: 0.4em;
    padding: 0 0.5em;
    position: absolute;
    width: 100%;
    bottom: -100%;
    transition: bottom 0.6s ease-in-out;
}

.speedometer{
    position: relative;
}