<div class="body">
  <div class="petrol-body">
    <div class="petrol"></div>
    <div class="petrol-back"></div>
    <i class="fa-solid fa-gas-pump"></i>
  </div>
  <div class="speedometer">
    <div #rpmElement class="needle-body">
      <div class="needle"></div>
    </div>
    <div class="speed-body">
      <div class="speed-kmh">km/h</div>
      <div #speedElement class="speed-main"></div>
      <div class="trip-body">
        <div #tripKilometerElement class="trip-kilometers"></div>
        <div #tripMeterElement class="trip-meters"></div>
      </div>
    </div>
  </div>
</div>
