.avatar-background{
  border: 1px solid #0c9;
}
.message-text{
  border: 2px green solid;
  border-radius: 15%;
}
.avatar-background{
  border: 2px green solid;
}
.avatar{
  background-image: url('/assets/images/logo.png') !important;
  background-size: 75% !important;
}