.mat-mdc-progress-spinner::ng-deep circle {
  stroke: #0c9;
}

.spinner-body {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: center;
}

.show-spinner {
  display: flex;
}

.spinner {
  width: 4rem !important;
  height: 4rem !important;
}

.spinner-text {
  color: white;
  font-size: 18px;
}
