.chat-input{
    width: 100%;
    background-color: rgba($color: #12192c, $alpha: 0.8);
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 0.2rem 0.3rem;
    font-size: 0.8rem;
}