<div class="body">
  <div class="chat-scroll" id="chat-scroll">
    <ng-container *ngFor="let message of messages; let last = last">
      <ng-container [ngSwitch]="message.type">
        <app-regular-message
          *ngSwitchCase="0"
          [messageText]="
            (message.message | translateIfKeyExists | async) ?? message.message
          "
          [playerId]="message.id"
          [playerName]="message.name"
        />
        <app-global-message
          *ngSwitchCase="1"
          [messageText]="message.message"
          [playerId]="message.id"
          [playerName]="message.name"
        />
        <app-transfer-message
          *ngSwitchCase="3"
          [messageText]="message.message"
          [playerId]="message.id"
          [playerName]="message.name"
          [from]="message.from"
          [value]="message.value!"
        />
        <app-private-message
          *ngSwitchCase="4"
          [messageText]="message.message"
          [playerId]="message.id"
          [playerName]="message.name"
          [from]="message.from"
        />
        <app-info-message
          *ngSwitchCase="9"
          [messageText]="
            (message.message | translateIfKeyExists | async) ?? message.message
          "
        />
        <app-penalty-message
          *ngSwitchCase="5"
          [messageText]="message.message"
        />
        {{ last ? scrollToBottom() : "" }}
      </ng-container>
    </ng-container>
  </div>
  <app-chat-input *ngIf="showInput" (closeInput)="closeInput()" />
</div>
