.body {
    width: 28rem;
    height: 22rem;
    position: relative;
    left: 1rem;
    top: 1rem;
    font-family: "Roboto";
  }
  
  .chat-scroll {
    height: 100%;
    width: auto;
    box-sizing: border-box;
    overflow-y: scroll;
  }
  .chat-scroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .chat-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }